src/main/mule/azure-pipeline-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f6990e3e-708a-4bb6-9e65-6022d8caa01c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azure-pipeline-demoFlow" doc:id="ae7edc2e-b45f-49b8-bc91-cb5f19c8e431" >
		<http:listener doc:name="Listener" doc:id="4f523660-0403-41f7-b0e6-4d2d130f099a" config-ref="HTTP_Listener_config" path="/azure"/>
		<set-payload value='#["azure demo"]' doc:name="Set Payload" doc:id="f0721598-a0d4-4081-8297-95631b1d3309" />
		<logger level="INFO" doc:name="Logger" doc:id="ed54b578-2c75-423b-8e20-d8e0b94f4158" message="#[payload]"/>
	</flow>
</mule>
